.header .container {
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin-top: 20px;

    .logo {
        h1 {
            margin-bottom: 0;
        }
        p {
        }
    }
    .navbar {
        display: flex;
        height: fit-content;
        justify-content: space-around;
        align-items: center;
        flex-basis: 70%;
        padding: 10px;
        background-color: $primary-color;
        border-radius: 20px;
        li {
            color: $secondary-text-color;

            &:hover {
                
            }
        }
    }
}
